.nav {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  text-decoration: none;
}

.headers {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  text-decoration: none;
}

.logo {
  display: flex;
  height: 100px;
  align-self: flex-start;
  padding-bottom: -50px;
}

.aboutUs {
  margin-left: 20px;
  text-decoration: none;
}

.ourServices {
  margin-left: 20px;
  text-decoration: none;
}

.contactUs {
  margin-left: 20px;
  text-decoration: none;
}
